.ourstory {
  overflow: hidden; /* Prevent overflow from child elements */
  height: 90vh;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.ourstory .container {
  display: flex;
  width: 90%;   

}

.ourstory .heading p {
  color: #3e1c08;
  margin: 0;
  padding: 0;
}

.about-text {

  padding: 20px;
  color: #176756;
  margin: 0 auto; 
  width: 50%; /* Adjusted width */
  text-align: justify; /* Justify text */
}

.about-text p {
  font-size: 1.1rem;
}

.ourstory .about-text p::first-letter {
  font-family: "Gupter", serif;
  color: #176756; /* Corrected color of the first letter */
  font-weight: 450; /* Make the first letter bold */
  font-size: 150px; /* Large font size for the first letter */
  float: left; /* Float left */
  line-height: 80px; /* Line height */
  margin-top: -4px; /* Adjust the margin top */
}

.images {
  display: flex;
  flex-direction: row; /* Display images side by side */
  gap: 20px; /* Space between images */
  width: 60%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.images img {
  height: 50vh; /* Set height to 100% of the parent container */
  object-fit: fill; /* Ensure images cover their container without distortion */
  max-width: 45%;
  transform: translateX(0); /* Initial position off the right side */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); /* Added shadow effect */
  animation: rightToLeft 3s ease-in forwards; /* Updated animation name */
}

@keyframes rightToLeft {
  from {
    transform: translateX(0%); /* Start from off the right side */
  }
  to {
    transform: translateX(0px); /* End at the final position */
  }
}

.photo2 {
  margin-top: 7%;
}
@media (max-width: 1200px) {
  .ourstory{
    width: 100%;
  }
  .ourstory .container {
    width: 100%;
    height: auto; /* Allow height to adjust based on content */
  }

  .about-text {
    margin-left: 5%; /* Reduce margin on smaller screens */
    width: 40%; /* Increase width on smaller screens */
  }
}

@media (max-width: 950px) {
  .ourstory {
    height: auto;
    width: 100%;
  }
  .ourstory .container {
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
  .about-text {
    width: 40%;
    padding: 0;
  }
  .images {
    display: flex;
    flex-direction: row; /* Display images side by side */
    gap: 20px; /* Space between images */
    width: 53%;
    height: 90vh;
    margin: 0;
  }
  .images img {
    height: 80%;
    object-fit: fill;/* Ensure images cover their container without distortion */
    max-width: 45%;
  }
}
@media (max-width: 844px) {
  .images {


    height: 80vh;

  }
  .images img {
    height: 90%;
    
  }
}

@media (max-width: 820px){
  .ourstory .container {
    width: 100%;
    height: auto;
  }
  .about-text {
    margin-left: 0;
    width: 50%;
    padding: 30px;
  }
  .images{
    margin-top: 20px;
    width: 50%;
  }
  .images img {
    height: 50%;
  }
}
@media (max-width: 480px) {
  .ourstory {
    height: auto;
  }

  .ourstory .container {
    display: block;
    width: 100%;
  }
  
  .about-text {
    width: 100%;
    padding: 20px;
  }
  
  .images {
    display: flex;
    margin: auto;
    flex-direction: row; /* Display images side by side */
    gap: 15px; /* Space between images */
    width: 90%;
    margin-bottom: 20px;
  }
  
  .images img {
    height: 30vh; /* Set height to 50% of the parent container */
    object-fit: fill; /* Ensure images cover their container without distortion */
    max-width: 47%;
  }
}