/* BlogDetail.css */

.blog-detail-container {
  
  display: flex;
  flex-direction: column; /* Stack the blog detail and other blogs vertically */
  justify-content: center;
  align-items: center;
  padding: 30px;
  margin: 0 auto;
  width: 100%; 
  margin-top: 3%;
  
}
.blogsd button{
  color: #686868;
  background: none;
}
.blogsd button:hover {
  background: none;
}
.blog-detail-container .titles {
  align-items: first baseline;
  text-align: left; /* Align text to the left */
}

.blog-detail-container .titles h2 {
  font-size: 20px; /* Adjust font size as needed */
  margin: 0; /* Reset margin if necessary */
  color: #b9b9b9; /* Optional: Change text color */
}
.blogsd {
  border: 1px solid rgb(224, 222, 222);
  overflow: hidden; /* Prevent overflow */
  width:55%; /* Full width for blog details */
  padding: 40px; /* Add padding */
  text-align: justify; /* Center text */
  margin-bottom: 20px; /* Space below blog detail */
}

.blog-detail-container h2 {
  font-family: "Cardo", serif; /* Use the Google font */
  font-size: 2em; /* Larger font for titles */
  line-height: 2.5rem;
  margin: 10px 0; /* Margin above and below */
  font-weight: 500;
}
.media {
  width: 100%;
  height: 55vh; /* Set maximum height for your container */
  margin-bottom: 20px;
  text-align: left;
  overflow: hidden; /* Ensure that overflowing content is hidden */
}

.media img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Use 'cover' to fill the container */
  object-position: top; /* Focus on the top part of the image */

}
.blog-date {
  color: #888; /* Slightly grey color for the date */
  font-size: 0.9em; /* Smaller text */
  margin: 5px 0; /* Margin around date */
}

.status {
  display: inline-block;
  margin-top: 10px; /* Space above the link */
  text-decoration: none;
  color: blue; /* Change this for a better hover effect */
}

.likes {
  margin-top: 10px; /* Space above likes */
}

.likes i {
  margin-right: 8px; /* Space between icons */
}

/* Media Queries for Responsiveness */
@media (max-width: 950px)  {
  .blogsd {
    width: 80%;
  }
  .blog-detail-container .blog-details{
    width: 250px; /* Fixed width for the blog cards */
    height: 300px; /* Fixed height for the blog cards (to ensure they are square) */
  }
  .blog-container .media {
    width: 100%; /* Full width media container */
    height: 750px; /* Fixed height for media */}
  .details p {
    display: none;
  }
  

}

@media (max-width: 480px) {
  .blog-detail-container{
 
    margin-top: 20%;
    padding: 10px;
  }
  .blogsd {
    width: 100%;
    padding: 20px;
  }
}