/* contact.css */
.contact .container {
    background-color: #f8f9fa;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap; /* Allow wrapping on small screens */
    gap: 30px;
}
.contact .contactusform{
    background: none;
}
.contact .icons-p p{
    font-size: 0.8rem;
    line-height: 25px;
    text-align: center;
}
.contact .links,
.conatctA .links{
    display:block;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;

}
.titles h3{

    font-size: 1.3rem;
    font-weight: 250;
}
.conatctA .links i,
.contact .links i{
    margin-top: 15px;
    font-size: 1.5rem;
    border-radius: 5px;
    background-color:#1E5A41 ;
    padding: 5px;
    
}

.conatctA .links a,
.contact .links a{
    color: white;
    margin: 5px;
}

.contact .divider {
    width: 1px; /* Adjust the width of the line */
    background-color: #c7c5c5; /* Change this color as needed */
    height: 250px; /* Adjust the height as needed */
    margin: 0 20px; /* Space around the line */
    display: inline-block; /* Aligns with the other content */
  }
  /* Contact Form Styles */
.contact .contactusform { /* Fixed the class name */
    padding: 1rem;
    max-width: 350px; /* Max width for the form */
    background-color: none; /* Ensure the form background is white */
}

.contact .contactusform .form-group {
    margin-bottom: 0rem; 
}

.contact .contactusform input,
.contact .contactusform textarea {
    font-family: "Poppins", sans-serif;
    background: none;
    margin-bottom: 5px;
    width: 100%;
    padding: 0.5rem; /* Increased padding for inputs */
    font-size: 0.8rem; /* Consistent font size */
}
.contact .contactusform button {
    padding: 0.5rem 1rem; /* Button padding */
    background-color: #1E5A41; /* Button color */
}

.contact .contactusform button:hover {
    background-color: none; /* Darken button on hover */
}
  
@media (max-width: 480px) {
    .contact .container {
        gap: 30px;
    }
    .contact .divider {
        display: none;
    }
    
}