/* General Styles */
.gallary {
    width: 80%;
    display: flex; /* Enable flexbox layout */
    align-items: center; /* Center children horizontally */
    justify-content: center; /* Center children vertically */
    flex-wrap: wrap;
    margin: auto;
    height: auto; /* Auto height to accommodate content */
}
.gallary .heading p {
    color: #3e1c08;
}

/* Testimonial Swiper Style */
.test-containers {
    width: 100%;
    margin-bottom: 25px;

}
.test-cards {
    border: 2px solid rgb(221, 221, 221);
    background-color: #fff;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
    padding: 20px;
    height: 45vh;

  
}
.test-cards .logo-img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.test-cards .logo-img img{
    border: 3px solid rgb(221, 221, 221);
    padding: 5px;
    width: 100px;
    height: 100px;
    border-radius: 50px;
}
.iconp {

    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
}

.iconp i {
    color: #f0ad4e; /* Colour for quote icons */

}
.iconp h2{
    font-family: "Cardo", serif;
    font-size: 1rem;
    font-weight: 150;
    margin: 20px auto;
}

.iconp p {
    margin: 0 10px;
    line-height: 1.7;
    font-size: 1rem;
    font-style: italic;
    text-align: center;
}

.overlays img{
    border: 1px;
    border-radius: 0px;
    width: 35px;
    height: 25px;
}
.flags{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
}

/* Responsive Styles */
@media (max-width:1200px) {

    .test-cards {
        height: 75vh;
    }
}
@media (max-width: 950px){

    .test-cards {
        height: 105vh;   
    }
}
@media (max-width: 850px){
    .gallary{
        width: 95%;
    }
    .test-cards {
        height: 45vh;   
    }
}
@media (max-width: 480px){
    .item {
        flex: 1 1 100%; /* Full width for mobile */
    }
    .gallary {
        width: 80%;
    }
    .test-cards {
        height: auto;
        margin-bottom: 40px;
    }
    .wrapper {
        flex-direction: column;
        align-items: center;
    }
}