/* OurFarm.css */
.farm-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; /* Center cards in the container */
    width: 70%;
    margin: 20px auto;
}

.farm-card {
    border: solid red;
    position: relative; /* Set position to relative */
    border: 2px solid #c2c2c2; /* Dark border */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5); /* Added shadow effect */
    max-height: 400px; /* Set a max height for cards */
    margin-bottom: 10px;
}

.farm-card img {
    width: 100%; /* Make images responsive to card width */
    height: 400px; /* Fixed height for images */
    object-fit: cover; /* Cover the area, preserving aspect ratio */
}

.farm-card img:hover {
    transform: scale(1.05); /* Scale up the image slightly on hover */
}
.farm-container .heading p{
    color: brown;
}




